body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-top: 1em;
    margin-bottom: 30%;
}

#footer{
    height: 100%;
    background-color: #fafafa;

    padding: 3em;
    padding-bottom: 4em;

    margin-bottom: 0px;
}

.card-footer{
    text-align: center;
    padding: auto;
}

.jumbo-net-balance{
    background-color: #22ff22ee !important;
}