.container {
    margin-top: 5em;
    margin-bottom: 30%;
}

#footer{
    height: 100%;
    background-color: #fafafa;

    padding: 3em;
    padding-bottom: 4em;

    margin-bottom: 0px;
}

.card{
    
}
.card-footer{
    text-align: center;
    padding: auto;
}