{% extends 'layout.html' %}
{% block title %}Transactions{% endblock %}

{% block content %}
    <h1>Transactions</h1><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <!-- Current -->
            <tr>
                <td><strong>{{ current.date }}</small></strong></td>
                {% if current.amount > 0 %}
                    <td style="color:forestgreen;"><strong>+{{ current.amount }}</strong></td>
                {% else %}
                    <td style="color:crimson;"><strong>{{ current.amount }}</strong></td>
                {% endif %}
                <td><strong>Most recent total</strong></td>
                <td></td>
            </tr>

            
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    {% if transaction.amount > 0 %}
                        <td style="color:forestgreen;">+{{ transaction.amount }}</td>
                    {% else %}
                        <td style="color:crimson;">{{ transaction.amount }}</td>
                    {% endif %}
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}