{% extends 'layout.html' %}
{% block title %}Upload{% endblock %}

{% block content %}
    <h1>Upload a CSV File</h1><br>

    <p>
        To get help on uploading a CSV file from ANZ visit <a href="https://www.anz.com.au/support/internet-banking/accounts/transactions/download/">Download my Transactions</a>.
    </p>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="transactions_file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            <br><br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
{% endblock %}